pre.sh_sourceCode {
    background-color: #ffffff;
    color: #000000;
    font-weight: normal;
    font-style: normal;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

pre.sh_sourceCode .sh_keyword {
    color: darkblue;
    font-weight: bold;
    font-style: normal;
}

pre.sh_sourceCode .sh_type {
    color: darkblue;
    font-weight: bold;
    font-style: normal;
}

pre.sh_xml .sh_type {
    color: blue;
    font-weight: bold;
    font-style: normal;
}

pre.sh_sourceCode .sh_string {
    color: darkgreen;
    font-weight: bold;
    font-style: normal;
}

pre.sh_sourceCode .sh_regexp {
    color: #0000ff;
    font-weight: normal;
    font-style: normal;
}

pre.sh_sourceCode .sh_specialchar {
    color: #0000ff;
    font-weight: normal;
    font-style: normal;
}

pre.sh_sourceCode .sh_comment {
    color: rgb(128, 128, 128);
    font-weight: normal;
    font-style: normal;
}

pre.sh_sourceCode .sh_number {
    color: #000000;
    font-weight: normal;
    font-style: normal;
}

pre.sh_sourceCode .sh_preproc {
    color: darkblue;
    font-weight: bold;
    font-style: normal;
}

pre.sh_sourceCode .sh_function {
    color: #000000;
    font-weight: normal;
    font-style: normal;
}

pre.sh_sourceCode .sh_url {
    color: #0000ff;
    font-weight: normal;
    font-style: normal;
}

pre.sh_sourceCode .sh_date {
    color: #7f0055;
    font-weight: bold;
    font-style: normal;
}

pre.sh_sourceCode .sh_time {
    color: #7f0055;
    font-weight: bold;
    font-style: normal;
}

pre.sh_sourceCode .sh_file {
    color: #7f0055;
    font-weight: bold;
    font-style: normal;
}

pre.sh_sourceCode .sh_ip {
    color: #0000ff;
    font-weight: normal;
    font-style: normal;
}

pre.sh_sourceCode .sh_name {
    color: #0000ff;
    font-weight: normal;
    font-style: normal;
}

pre.sh_sourceCode .sh_variable {
    color: #7f0055;
    font-weight: bold;
    font-style: normal;
}

pre.sh_sourceCode .sh_oldfile {
    color: #0000ff;
    font-weight: normal;
    font-style: normal;
}

pre.sh_sourceCode .sh_newfile {
    color: #0000ff;
    font-weight: normal;
    font-style: normal;
}

pre.sh_sourceCode .sh_difflines {
    color: #7f0055;
    font-weight: bold;
    font-style: normal;
}

pre.sh_sourceCode .sh_selector {
    color: #7f0055;
    font-weight: bold;
    font-style: normal;
}

pre.sh_sourceCode .sh_property {
    color: #7f0055;
    font-weight: bold;
    font-style: normal;
}

pre.sh_sourceCode .sh_value {
    color: #0000ff;
    font-weight: normal;
    font-style: normal;
}

